<ion-view view-title="barcodescan">
  <ion-content ng-controller="BarcodeScanCtrl">
  <div class="card">
        <div class="item item-text-wrap" >
        	<h2>Asset Name:{{assets[0]}}</h2>
        	<P>purchasedDate: {{assets[1]}}</P>  
        	<P>value: {{assets[2]}}</P> 
        	<P>serialNumber: {{assets[3]}}</P> 
        	<P>Product: {{assets[4]}}</P> 
        	<P>installedDate: {{assets[5]}}</P> 
        	<P>description: {{assets[6]}}</P>
        	<P>Status: {{assets[7]}}</P>  
        </div>
    </div>  
  </ion-content>
</ion-view>